## password begin ##
AuthUserFile /usr/www/users/inksp3c1/newlifeoffice/phpMyAdmin/.passwd
AuthName     "Protected"
AuthType     Basic
<Limit GET POST PUT>
require valid-user
</Limit>
<Files .passwd>
deny from all
</Files>
## password end ##
