#slides {
	width: 530px;
	position: relative;
}
/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:530px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container a {
	width:530px;
	height: 300px;
	display:block;
}

/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:115px;
	left:0;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:485px;
}

/*
	Pagination
*/

.pagination {
	position: absolute;
	bottom: -18px;
	left: -12px;
	display: block;
	z-index: 101;
}

.pagination li {
	float: left;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}